@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.moveRightText {
  animation: moveRight 5s linear infinite;
}
